{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":24},"action":"remove","lines":["django-crispy-forms==2.1"],"id":2},{"start":{"row":1,"column":14},"end":{"row":2,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":14},"end":{"row":1,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1712493339909,"hash":"691e291504f67d8f3da482c90eaa6de16a2c20b4"}