{% extends 'lessons/base.html' %}

{% block content %}
<h1>Music Lesson App home</h1>
{% for lesson in lessons %}
<div class="card my-4" style="width: 18rem;">
<div class="card-body">
<h5 class="card-title">{{ lesson.title }}</h5>
<h5 class="card-title">{{ lesson.author }}</h5>
<h6 class="card-subtitle mb-2 text-muted">{{ lesson.description }}</h6>
<p class="card-text">
    {{ lesson.chord }}
</p>
<a href="{% url 'lessons-detail' lesson.pk  %}" class="card-link">View lesson</a>
</div>
</div>
{% endfor %} {% endblock content %}
