{% extends 'lessons/base.html' %}

{% block content %}
<div class="home">
<h1>Home Page</h1>
<h2>home page again</h2>
</div>
    
{% for lesson in lessons %}
<div class="card" id="card">
<div class="card-body">
<h5 class="card-title" id="title">And the lesson of this week is- {{ lesson.title }}</h5>
<h6 class="card-title" id="by">By : {{ lesson.author }} </h6>
<h6 class="card-subtitle mb-2 text-muted">{{ lesson.description }}</h6>
<p class="card-text">
    {{ lesson.chord }}
</p>
<a href="{% url 'lessons-detail' lesson.pk  %}" class="card-link">View lesson</a>
</div>
</div>
{% endfor %} {% endblock content %}
